---
layout: page
title: Articles
permalink: /articles/
---

<style>
    #post-list .card .card-body .post-meta>div:first-child {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .categories {
        margin-bottom: 0;
    }
    .pin {
        margin-left: auto !important;
    }
</style>

{% assign all_pinned = site.posts | where: 'pin', 'true' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts on current page -->

{% assign pinned_size = all_pinned.size %}

{% for i in (0..all_pinned.size) limit: pinned_size %}
  {% assign posts = posts | push: all_pinned[i] %}
{% endfor %}

<!-- Get normal posts on current page -->

{% assign normal_size = site.posts.size | minus: pinned_size %}

{% if normal_size > 0 %}
  {% if pinned_size > 0 %}
    {% assign normal_start = 0 %}
  {% else %}
    {% assign normal_start = all_pinned.size %}
  {% endif %}

  {% assign normal_end = normal_start | plus: normal_size | minus: 1 %}

  {% for i in (normal_start..normal_end) %}
    {% assign posts = posts | push: all_normal[i] %}
  {% endfor %}
{% endif %}

{% if posts.size > 0 %}
<div id="post-list">
    {% for post in posts %}
    <article class="card-wrapper card mb-4">
        <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
            {% if post.image %}
            {% assign src = post.image.path | default: post.image %}
            {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
            {% endunless %}
            <div class="col-md-5">
                <div
                    style="background-image: url('{{ src | relative_url }}'); height: 200px; background-size: cover; background-position: center; border-radius: 0.375rem;">
                </div>
            </div>
            {% assign card_body_col = '7' %}
            {% else %}
            {% assign card_body_col = '12' %}
            {% endif %}

            <div class="col-md-{{ card_body_col }}">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>
                    <div class="card-text content mt-0 mb-3">
                        <p>{{ post.description | strip_html | truncatewords: 30 }}</p>
                    </div>
                    <div class="post-meta flex-grow-1 d-flex align-items-end">
                        <div class="me-auto">
                            <i class="far fa-calendar fa-fw me-1"></i>
                            <time>{{ post.date | date: "%b %-d, %Y" }}</time>

                            {% if post.categories.size > 0 %}
                            <i class="far fa-folder-open fa-fw me-1 ms-2"></i>
                            <span class="categories">
                                {% for category in post.categories %}
                                {{ category }}
                                {%- unless forloop.last -%}, {% endunless -%}
                                {% endfor %}
                            </span>
                            {% endif %}

                            {% if post.pin %}
                                <div class="pin ms-1">
                                    <i class="fas fa-thumbtack fa-fw"></i>
                                    <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </a>
    </article>
    {% endfor %}
</div>
{% else %}
<p>No articles available yet.</p>
{% endif %}