---
layout: page
title: Podcasts
permalink: /podcasts/
---

{% assign podcasts = site.podcasts | sort: 'date' | reverse %}

{% if podcasts.size > 0 %}
<div id="post-list">
    {% for podcast in podcasts %}
    <article class="card-wrapper card">
        <a href="{{ podcast.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
            {% if podcast.image %}
            {% assign src = podcast.image.path | default: podcast.image %}
            {% unless src contains '//' %}
            {% assign src = podcast.media_subpath | append: '/' | append: src | replace: '//', '/' %}
            {% endunless %}

            <div class="col-md-5">
                <div
                    style="background-image: url('{{ src | relative_url }}'); height: 200px; background-size: cover; background-position: center; border-radius: 0.375rem;">
                </div>
            </div>
            {% assign card_body_col = '7' %}
            {% else %}
            {% assign card_body_col = '12' %}
            {% endif %}

            <div class="col-md-{{ card_body_col }}">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title my-2 mt-md-0">{{ podcast.title }}</h1>


                    {% if podcast.duration %}
                    <p class="text-muted small mb-2">
                        <i class="fas fa-clock"></i> {{ podcast.duration }}
                    </p>
                    {% endif %}

                    <div class="card-text content mt-0 mb-3">
                        {% if podcast.description %}
                        <p>{{ podcast.description }}</p>
                        {% else %}
                        <p>{{ podcast.content | strip_html | truncatewords: 30 }}</p>
                        {% endif %}
                    </div>

                    <div class="post-meta flex-grow-1 d-flex align-items-end">
                        <div class="me-auto">
                            <i class="far fa-calendar fa-fw me-1"></i>
                            <time>{% include datetime.html date=podcast.date format='%b %-d, %Y' %}</time>

                            {% if podcast.categories.size > 0 %}
                            <i class="far fa-folder-open fa-fw me-1 ms-2"></i>
                            <span class="categories">
                                {% for category in podcast.categories %}
                                {{ category }}
                                {%- unless forloop.last -%}, {% endunless -%}
                                {% endfor %}
                            </span>
                            {% endif %}

                            {% if podcast.tags.size > 0 %}
                            <i class="fas fa-tags fa-fw me-1 ms-2"></i>
                            <span class="tags">
                                {% for tag in podcast.tags %}
                                {{ tag }}
                                {%- unless forloop.last -%}, {% endunless -%}
                                {% endfor %}
                            </span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </a>
    </article>
    {% endfor %}
</div>
{% else %}
<p>No podcasts available yet.</p>
{% endif %}